* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

header {
  background-color: #0a400c;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f8f3ce;
  height: 3rem;
}

nav h1 {
  margin-left: 2rem;
}

nav ul {
  display: flex;
  margin-right: 1rem;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #f8f3ce;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
  margin-right: 1.5rem;
}

nav a:hover {
  color: #eaa64d;
}

main {
  width: 60%;
  height: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  margin-right: 10px;
  max-width: 70%;
}

.profile h2 {
  font-size: 3rem;
}

.profile p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

#profile-quote {
  margin-top: 9rem;
  text-align: center;
  font-size: 1.5rem;
}

@keyframes metalGear {
  0% {
    left: 0;
  }
  50% {
    left: 70%;
    transform: rotate(0deg);
  }
  51% {
    transform: rotateY(180deg);
  }
  100% {
    left: 0;
    transform: rotateY(180deg);
  }
}

#metal-gear {
  height: 5rem;
  position: relative;
  animation: metalGear 10s infinite ease-in-out;
  top: 20%;
}

.profile img {
  height: 25rem;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 1200px) {
}
