* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: green;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

header h1 {
  margin-left: 2rem;
  font-size: 1.2rem;
}

header ul {
  display: flex;
  justify-content: center;
  margin-right: 2rem;
  list-style: none;
}

header li {
  margin-right: 0.5rem;
}

header a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
  font-weight: bold;
}

header a:hover {
  color: red;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Homepage */
.profile {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.8rem;
}

.profile h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.profile img {
  height: 20rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.profile p {
  font-size: 1.2rem;
  text-align: justify;
}

@keyframes metalGear {
  0% {
    right: 35%;
  }
  50% {
    right: -35%;
    transform: rotateY(0deg);
  }
  51% {
    transform: rotateY(180deg);
  }
  100% {
    right: 35%;
    transform: rotateY(180deg);
  }
}

#metal-gear {
  height: 6rem;
  position: relative;
  animation: metalGear 5s infinite ease-in-out;
}

#quote {
  font-style: italic;
}

#quote span {
  font-style: normal;
}

/* End of Homepage */

/* About Page */
.about-list {
  display: grid;
}

.card {
  border: 0.2rem green solid;
  width: 25rem;
  min-height: 30rem;
  border-radius: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.card h2 {
  text-align: center;
  padding: 0.3rem 0 0.3rem 0;
  background-color: green;
  color: white;
}

.card img {
  width: 400px;
}

.card p {
  padding: 0.5rem;
  text-align: justify;
}

@media only screen and (min-width: 1200px) {
  header h1 {
    font-size: 2rem;
  }

  header a {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  .profile {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .profile h2 {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 3rem;
  }

  .profile p {
    grid-column: 1;
    grid-row: 2;
  }

  #quote {
    grid-column: 1 / span 2;
    grid-row: 4;
    text-align: center;
    margin-top: 0.5rem;
  }

  .profile img {
    grid-column: 2;
    grid-row: 2 / span 2;
    height: 25rem;
    margin: 0 auto;
  }

  /* @keyframes metalGear {
    0% {
      left: 0%;
    }
    50% {
      left: 70%;
      transform: rotateY(0deg);
    }
    51% {
      transform: rotateY(180deg);
    }
    100% {
      left: 0%;
      transform: rotateY(180deg);
    }
  } */

  #metal-gear {
    grid-column: 1;
    grid-row: 3;
  }
}
